conpany{
  animation-name:　nameanime;
  animation-fill-mode: backwards;
  animation-duaration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animetion-delay: 3s;
  animetion-direction:　normal;
}

@nameanime fadeaInAnime{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
