nav{
  width: 100%;
  height: 70px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}
.conpany{
  animation-name:nameanime;
  animation-fill-mode:backwards;
  animation-duaration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease;
  animetion-delay:3s;
}

@nameanime fadeaInAnime{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}
  
ul{
  display: flex;
}
li{
  list-style: none;
}
a{
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
.gnavi li a{
    position: relative;
}
.gnavi li.current a,
.gnavi li a:hover{
    color:whitesmoke;
}
.gnavi li a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10%;
    /*線の形状*/
      width: 80%;
      height: 2px;
      background:whitesmoke;
    /*アニメーションの指定*/
      transition: all .3s;
      transform: scale(0, 1);/*X方向0、Y方向1*/
      transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
#time{
   background-color: lemonchiffon;
   border-radius: 6px;
   width: 50%;
   height: 60px;
   font-size: 50px
 }
